.wrapper {
    width: calc(100% - 48px);
    position: fixed;
    z-index: 9999;
    color: black;
    display: flex;
    justify-content: center;
}

.container {
    border-radius: 5px;
    width: 650px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.container:active {
    cursor: grabbing;
}

.closeButtonContainer {
    display: flex;
    border-radius: 5px;
    cursor: pointer;
}

.closeButtonContainer:hover {
    background-color: #ddd;
}