.container {
  background-color: white;
  color: black;
  padding: 24px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: auto;
}
  